<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="module" src="../static/js/main.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="nav">
        <a href="/cashflow">Cash Flow</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/research">Research</a>
        
        <div style="float: right; margin-right: 20px; position: relative;">
            <button type="button" id="bellBtn">
                🔔 <span id="bell-badge" style="display:none;">0</span>
            </button>
            <ul id="notification-list"
                style="width: 320px; display: none; position: absolute; right:0; left: auto; z-index: 9999; background: white; box-shadow: 0 4px 15px rgba(0,0,0,0.3); border: 1px solid #ddd;">
            </ul>
        </div>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
        window.APP_CONFIG = {
            liveIntervalMs:     {{ config['APP_CONFIG'].get('live_interval') | interval_to_ms }},
            researchIntervalMs: {{ config['APP_CONFIG'].get('research_interval') | interval_to_ms }}
        };
    </script>
    <script src="https://cdn.plot.ly/plotly-3.5.0.min.js"></script>
</body>
</html>
